.header {
    width: 100%;
    min-height: 150px;
    min-width: 1136px;
    background-image:url("/static/img/header.png");
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 1136px) {
    .header{
        background-size: 100%;
        background-image:url("/static/img/header.png");
    }
}

.footer {
    width: 100%;
    max-height: 90px;
    min-width: 1136px;
    background-image:url("/static/img/header.png");
    bottom:0px;
}

@media (min-width: 1136px) {
    .footer{
        background-size: 100%;
        background-image:url("/static/img/header.png");
        padding-bottom:0px;
    }
}

.page-name {
    font-size: 40px;
    text-align: center;
}

body {
    background: #DDDCE2 url("/static/img/body_bg.jpg") repeat left top;
}

.errors {
    color: red;
}

.hidden {
    visibility: hidden;
}
