.no-overflow {
    overflow-x: hidden;
}

.map {
    height: 400px;
    background-color: #CCC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-spacing {
    margin-left: 20px;
}

.v-spacing {
    margin-top: 10px;
}

.map_header {
    font-size: 20px;
    text-align: center;
}
.labels {
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
    padding: 10px;
}

.message {
    font-size: 25px;
}

.preview-container {
    position: relative;
}

.preview {
    font-family: "Droid Sans";
    font-style: normal;
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
    word-wrap: break-word;
}

.preview-text-container {
    position: absolute; 
    left: 15px;
    top: 125px;
    width: 280px;
    height: 190px;
    z-index: 100;
    text-align: center;
    display: table;
}

.time-send {
    width: 120px;
}

.date-send {
    width: 85px;
}

.sign-out {
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.submit_button{
    padding-left: 50px;
}

.invisible {
    visibility: hidden;
}