.h-spacing {
    margin-left: 50px;
}

.labels {
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
    padding: 10px;
}

.map {
    height: 400px;
    background-color: #CCC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-out {
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 15px;
    font-weight: bold;
}