.header {
    background-color: green
}

.header-text {
    font-size: 150%,
    font-style: oblique
}

.settings-button {
}

.name {
}

.num-users {
}

.map {
}

.message {
}

.message-input {
}

.preview-title {
}

.preview {
}

.channels-title {
}

.channels {
}
