.header {
    background-color: green;
    position: absolute;
    left: 0;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -100px;
    padding-right: -100px;
    overflow-x: hidden;
}

.header-text {
    font-style: oblique;
}

.settings-button {
}

.name {
}

.num-users {
}

.map {
}

.message {
}

.message-input {
}

.preview-title {
}

.preview {
}

.channels-title {
}

.channels {
}
