{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Wave</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:Condensed" />
    {% block scripts %}{% endblock %}
  </head>
  <!--<body class="body" style="font-family: &quot;Droid Sans&quot;; font-style: normal">-->
  <body class="body" style="font-family: &quot;Open Sans&quot;; font-style: normal;">
    <div class="not-footer">
      <div class="row">
        <div class="header-container">
          <div class="col-md-12 header">
            <div class="page-name">
              <u>{% block title %}<img src="{% static 'img/wave_icon.png' %}" style="margin-top: -8px"/>ave Sponsor Panel{% endblock %}</u>
            </div>
          </div>
        </div>
      </div>
      <br/>
      {% block contents %}{% endblock %}
      <br/>
      <div class="push"></div>
    </div>
    <div class="push">
      <div class="col-md-12 footer">
        <div class="footer-text">
          {% block footer %}Made by Allen Park, Alon Daks, Sai Cheemalapati, and Will Jamieson{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>	
