{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script language="javascript" src="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}Wave Control Panel{% endblock %}

{% block contents %}
<div class="container">
  <div class="row">
    <div class="col-md-0">
      <span class="name h4">{{ name }}</span><br/>
    </div>
  </div>
  <div class="row">
    <span class="num-users">Number users: {{ num_users }}</span><br/>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div id="map_canvas" class="map"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1">
      <input type="textbox" id="address">
      <input type="button" value="Set Address" id="setAddress" class="map_button">
      <input type="button" value="Use Current Location" id="useCurrentLocation" class="map_button">
      <span id="loading" class="hidden">Loading...</span>
      <div id="mapsError" class="errors"></div>
    </div>
  </div>
  <div class="row">
    <span class="message">Message</span><br/>
  </div>
  <div class="row">
    <input class="message-input" type="text"><br/>
  </div>
  <div class="row">
    <span class="preview-title">What it'll look like</span>
  </div>
  <div class="row">
    <div class="preview">&nbsp;</div>
  </div>
  <div class="row">
    <span class="channels-title">Channels</span>
  </div>
  <div class="row">
    <div class="channels"></div>
  </div>
</div>
{% endblock %}
