{% load staticfiles %}
{% csrf_token %}
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script language="javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  </head>
  <body style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;">
    <div class="container">
      <div class="row">
	<div class="header-text col-md-4">Wave</div>
	<div class="col-s-1 col-md-offset-10">
	  <img src="{% static 'img/settings.png' %}">
	</div>
	</div>
      <div class="row">
	<span class="name">{{ name }}</span><br/>
	</div>
	<span class="num-users">Number users: {{ num_users}}</span><br/>
	<div class="map">THIS IS WHERE THE MAP GOES</div>
	<span class="message">Message</span><br/>
	<input class="message-input" type="text"><br/>
	<span class="preview-title">What it'll look like</span>
	<div class="preview"></div>
	<span class="channels-title">Channels</span>
	<div class="channels"></div>
      </div>
  </body>
</html>
